<!DOCTYPE html>
<html>

<head>
  <title>Rebate Calculator - New Member</title>
  <link rel="stylesheet" href="../css/index.css">

  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <script src="../js/jquery-3.1.0.min.js"></script>
  <script>if (window.module) module = window.module;</script>
  <script>
    const {ipcRenderer} = require('electron')
    ipcRenderer.on('new-mbr', function (event, status) {
      if (status == 'success')
        window.history.back()
      else
        console.log(status)
    })

    function newMbr() {
      let mbr = {
        mbrName: $('#mbr-name').val(),
        mbrId: $('#mbr-id').val(),
        mbrHp: $('#mbr-hp').val(),
        mbrIc: $('#mbr-ic').val(),
        mbrEmail: $('#mbr-email').val(),
        mbrBankName: $('#mbr-bank-name').val(),
        mbrBankAcc: $('#mbr-bank-acc').val(),
        mbrJoinDate: $('#mbr-join-date').val(),
        mbrPackage: $('#mbr-package').val(),
        mbrRemark: $('#mbr-remark').val()
      }
      ipcRenderer.send('new-mbr', mbr)
    }
  </script>

</head>

<body>
  <table>
    <tr>
      <td>Name:</td>
      <td><input id="mbr-name"></td>
    </tr>
    <tr>
      <td>ID:</td>
      <td><input id="mbr-id"></td>
    </tr>
    <tr>
      <td>HP No:</td>
      <td><input id="mbr-hp"></td>
    </tr>
    <tr>
      <td>IC No:</td>
      <td><input id="mbr-ic"></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input id="mbr-email"></td>
    </tr>
    <tr>
      <td>Bank Name:</td>
      <td><input id="mbr-bank-name"></td>
    </tr>
    <tr>
      <td>Bank Acc:</td>
      <td><input id="mbr-bank-acc"></td>
    </tr>
    <tr>
      <td>Join Date:</td>
      <td><input id="mbr-join-date"></td>
    </tr>
    <tr>
      <td>Package:</td>
      <td><input id="mbr-package"></td>
    </tr>
    <tr>
      <td>Remark:</td>
      <td><textarea id="mbr-remark"></textarea></td>
    </tr>
  </table>
  <button onclick="newMbr();">Create Member</button>
  <button onclick="window.history.back()">Cancel</button>
</body>

</html>