html, body {
  margin: 0;
  padding: 10px;
}

#mbr-navibar {
  margin-bottom: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cnt-input {
  background: none;
  width: 100%;
  border:0;
  border-bottom: 1px dotted;
}

.cnt-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cnt-ul > li {
  display: inline-block;
  width: 160px;
  margin-left: 5px;
}

.no-wrap {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

.wrap {
  white-space: wrap;
}

.no-input-box {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
}

.rebate-panel-head {
  cursor: pointer;
}

.rebate-panel-body-col {
  padding: 5px;
  margin: 0;
}

.rebate-panel-subtotal {
  background-color: rgba(0, 0, 0, .01);
  height: 144px;
}

.rebate-panel-subtotal th {
  text-align: center;
  height: 56px;
}

.rebate-panel-total-panel {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  box-shadow: none;
  margin-top: 0;
}

.rebate-panel-total-panel div {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  margin-top: 0;
}

.rebate-panel-total {
  background-color: rgba(0, 0, 0, .05);
}

.rebate-panel-total th {
  text-align: center;
}

.rebate-panel-active-10 {
  box-shadow: 0px 0px 1px 1px red;
}

.rebate-panel-active-20 {
  box-shadow: 0px 0px 1px 1px green;
}

.rebate-panel-active-30 {
  box-shadow: 0px 0px 1px 1px blue;
}
