html, body {
  height: 100%;
  margin: 0;
  padding: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mbr-profit {
  background: none;
  width: 35pt;
  text-align: center;
  border: 0;
  border-bottom: 2px dotted;
}

.navbar-seperator {
  display: inline-block;
  width: 100px;
}

#mbr-find {
  width: 300px;
}

#mbr-find-div {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.mbr-ls-find-li {
  margin: 0;
  padding: 5px;
}

.mbr-ls-find-li > div > small {
  color: darkgrey;
}

.mbr-ls-table-title {
  display: none;
}

.mbr-tr-highlight {
  background-color: #ddd;
}

#mbr-total-has-mbr {
  display: inline-block;
  min-width: 80px;
  margin-bottom: 10px;
}

#mbr-total-package {
  display: inline-block;
  min-width: 80px;
  margin-bottom: 10px;
}

.mbr-ls-update:hover, .mbr-ls-update:active, .mbr-ls-update:visited, .mbr-ls-update:link {
  color: indianred;
}

.mbr-ls-update {
  color: indianred;
  animation: blinker 1.3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}

@media print
{
    .no-print, .no-print * {
      display: none;
    }

    .mbr-profit {
      background: none;
      width: 35pt;
      text-align: center;
      border: 0;
      border-bottom: 0;
    }

    .no-blue-text {
      color: black;
    }

    .mbr-ls-table-title {
      display: block;
      text-align: center;
      font-size: 17pt;
    }
}