html, body {
  height: 100%;
  margin: 0;
  padding: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cnt-input {
  background: none;
  width: 100%;
  border:0;
  border-bottom: 1px dotted;
}

.cnt-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cnt-ul > li {
  display: inline-block;
  width: 160px;
  margin-left: 5px;
}

.no-wrap {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

.wrap {
  white-space: wrap;
}
